body {
	background-color: grey;
}
.card-placeholder {
	background: green;
}
.board {
	width: 1500px;
	background-color: green;
	text-align: center;
}
.column {
	background: yellow;
}
.create-column {
	height: 35px;
	background-color: red;
}